biblioteca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="biblioteca">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="libros">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="libro" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="titulo" type="xs:string"></xs:element>
                                            <xs:element name="capitulos">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="capitulo" minOccurs="1" maxOccurs="unbounded">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="titulo" type="xs:string"></xs:element>
                                                                    <xs:element name="contenido">
                                                                        <xs:complexType>
                                                                            <xs:attribute name="enlace" type="xs:string"></xs:attribute>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                                <xs:attribute name="numero_paginas" type="xs:integer"></xs:attribute>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="indice" type="xs:string"></xs:element>
                                            <xs:element name="sinopsis" type="xs:string"></xs:element>
                                        </xs:sequence>
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:ID">
                                                <xs:pattern value="L[0-9]{4}"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Novela"></xs:enumeration>
                                                <xs:enumeration value="Infantil"></xs:enumeration>
                                                <xs:enumeration value="Didactico"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="numero_paginas" type="xs:integer"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="revistas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="revista" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="titulo" type="xs:string"></xs:element>
                                            <xs:element name="numero_revista" type="xs:integer"></xs:element>
                                            <xs:element name="indice" type="xs:string"></xs:element>
                                            <xs:element name="secciones">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="seccion" minOccurs="1" maxOccurs="unbounded">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="titulo" type="xs:string"></xs:element>
                                                                    <xs:element name="contenido">
                                                                        <xs:complexType>
                                                                            <xs:attribute name="enlace" type="xs:string"></xs:attribute>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                                <xs:attribute name="numero_paginas" type="xs:integer"></xs:attribute>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:ID">
                                                <xs:pattern value="R[0-9]{4}"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Informatica"></xs:enumeration>
                                                <xs:enumeration value="Corazon"></xs:enumeration>
                                                <xs:enumeration value="Coches"></xs:enumeration>
                                                <xs:enumeration value="Investigacion"></xs:enumeration>
                                                <xs:enumeration value="Otras"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="numero_paginas" type="xs:integer"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="periodicos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="periodico" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="fecha_publicacion" type="xs:date"></xs:element>
                                            <xs:element name="indice" type="xs:string"></xs:element>
                                            <xs:element name="secciones_periodico">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="seccion_periodico" minOccurs="1" maxOccurs="unbounded">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="articulos">
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element name="articulo" minOccurs="1" maxOccurs="unbounded">
                                                                                    <xs:complexType>
                                                                                        <xs:sequence>
                                                                                            <xs:element name="contenido">
                                                                                                <xs:complexType>
                                                                                                    <xs:attribute name="enlace" type="xs:string"></xs:attribute>
                                                                                                </xs:complexType>
                                                                                            </xs:element>
                                                                                        </xs:sequence>
                                                                                        <xs:attribute name="autor" type="xs:string" use="required"></xs:attribute>
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                                <xs:attribute name="tipo_seccion" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value="Nacional"></xs:enumeration>
                                                                        <xs:enumeration value="Internacional"></xs:enumeration>
                                                                        <xs:enumeration value="Deportes"></xs:enumeration>
                                                                        <xs:enumeration value="Opinion"></xs:enumeration>
                                                                        <xs:enumeration value="Economica"></xs:enumeration>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                                </xs:attribute>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:ID">
                                                <xs:pattern value="P[0-9]{4}"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Nacionales"></xs:enumeration>
                                                <xs:enumeration value="Internacionales"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>