XSD/biblioteca.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="biblioteca">
        <complexType>
            <sequence>
                <element name="libros">
                    <complexType>
                        <sequence>
                            <element name="libro" minOccurs="1" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="titulo_libro" type="string"/>
                                        <element name="capitulo" minOccurs="1" maxOccurs="unbounded"> 
                                            <complexType>
                                                <sequence>
                                                    <element name="titulo_cap" type="string"/>
                                                    <element name="contenido">
                                                        <complexType>
                                                            <attribute name="enlace" type="string" use="required"/>
                                                        </complexType>    
                                                    </element>
                                                </sequence>
                                                <attribute name="num_pag_cap" type="integer" use="required"/>
                                            </complexType>
                                        </element>
                                        <element name="indice" type="string"/>
                                        <element name="sinopsis" type="string"/>
                                    </sequence>
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="ID">
                                                <pattern value="L[0-9]{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="novela"/>
                                                <enumeration value="infantil"/>
                                                <enumeration value="didactico"/>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="num_pag" type="integer"/>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="revistas">
                    <complexType>
                        <sequence>
                            <element name="revista" minOccurs="0" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="titulo_rev" type="string"/>
                                        <element name="numero_rev" type="integer"/>
                                        <element name="indice_rev" type="string"/>
                                        <element name="seccion_rev" minOccurs="1" maxOccurs="unbounded">
                                            <complexType>
                                                <sequence>
                                                    <element name="contenido">
                                                        <complexType>
                                                            <attribute name="enlace" type="string" use="required"/>        
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                                <attribute name="num_pag_sec" type="integer" use="required"/>
                                                <attribute name="nombre_sec" type="string" use="required"/>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="ID">
                                                <pattern value="R[0-9]{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="informatica"/>
                                                <enumeration value="corazon"/>
                                                <enumeration value="coches"/>
                                                <enumeration value="investigacion"/>
                                                <enumeration value="otras"/>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="num_pag" type="integer" use="required"/>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="periodicos">
                    <complexType>
                        <sequence>
                            <element name="periodico" minOccurs="0" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="secciones_per">
                                            <complexType>
                                                <sequence>
                                                    <element name="seccion_per" minOccurs="1" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="articulo_per" minOccurs="1" maxOccurs="unbounded">
                                                                    <complexType>
                                                                        <sequence>
                                                                            <element name="contenido_per">
                                                                                <complexType>
                                                                                    <attribute name="enlace" type="string" use="required"/>
                                                                                </complexType>
                                                                            </element>
                                                                        </sequence>
                                                                        <attribute name="autor" type="string" use="required"/>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="tipo_seccion" use="required">
                                                                <simpleType>
                                                                    <restriction base="string">
                                                                        <enumeration value="economica"/>
                                                                        <enumeration value="opinion"/>
                                                                        <enumeration value="deportes"/>
                                                                        <enumeration value="nacional"/>
                                                                        <enumeration value="internacional"/>
                                                                    </restriction>
                                                                </simpleType>
                                                            </attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="indice_per" type="string"/>
                                    </sequence>
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="ID">
                                                <pattern value="P[0-9]{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="nacionales"/>
                                                <enumeration value="internacionales"/>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="fecha_publicacion" type="string" use="required"/>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
